* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* NAVIGATION BAR */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #01a89e;
  height: 5rem;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}
.nav-bar .logo {
  padding: 1rem;
  font-size: 50px;
}
.nav-bar .nav-menu {
  padding: 2rem;
  height: fit-content;
}
/* .nav-bar .nav-menu .mobile-menu {
 
} */
.nav-bar .nav-menu .mobile-menu ul {
  display: none;
  flex-direction: column;
  list-style: none;
  background: #01a89e;
  width: 10rem;
  align-items: center;
  margin-left: -10%;
  transition: 1s ease;
  position: relative;
  z-index: 100;
}
.nav-bar .nav-menu .mobile-menu ul.open {
  display: flex;
}
.nav-bar .nav-menu .mobile-menu ul li {
  margin: 0.4rem;
  padding: 0.5rem;
  background: #01a89e;
  width: 5rem;
}
.nav-bar .nav-menu .mobile-menu ul li.close {
  display: none;
}
.nav-bar .nav-menu .mobile-menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  background: #01a89e;
  font-weight: 600;
  padding: 5px 0.7rem;
}
.nav-bar .nav-menu .mobile-menu ul li a:active,
.nav-bar .nav-menu .mobile-menu ul li a:hover {
  background: #91c4c0;
  padding: 5px 0.7rem;
  border-radius: 5px;
  width: 100%;
}
/* burger menu */
.nav-bar .nav-menu .mobile-menu .burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  width: 40px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.nav-bar .nav-menu .mobile-menu .burger-menu span {
  width: 100%;
  height: 1px;
  background: #fff;
  margin: 5px;
  padding: 0.1rem;
  transition: 1s ease;
}

.nav-menu.open {
  max-height: 300px;
}
.burger-menu.open span:first-child {
  transform: rotate(45deg) translate(9px, 5px);
}
.burger-menu.open span:nth-child(2) {
  opacity: 0;
}
.burger-menu.open span:last-child {
  transform: rotate(-45deg) translate(11px, -10px);
}

.burger-menu span:first-child {
  transform: none;
}
.burger-menu span:nth-child(2) {
  opacity: 1;
}
.burger-menu span:last-child {
  transform: none;
}

/* HERO SECTION */
#hero-section {
  height: calc(100dvh - 5rem);
  background: url("assets/images//banners/banner-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
  z-index: -5;
}

.banner #header {
  opacity: 1;
  color: #fff;
  font-size: 50px;
  padding: 5rem 1.1rem;
  color: #ebebeb;
  z-index: -5;
  opacity: 1;
  position: relative;
}
.banner button {
  opacity: 1;
  margin: 6rem;
  font-size: 15px;
}
.btn:hover {
  background: #3fb2aa;
}
/* MAKE RESERVATION */

#booking {
  height: 70dvh;
  background: #3b444d;
}
.title {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 1rem;
}

#booking .number-people,
.departure-date,
.arrival-date {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}
#booking label {
  color: #fff;
  font-weight: 600;
}
#booking input {
  background: transparent;
  border: 0;
  border-bottom: solid 1px #fff;
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: #fff;
}
#booking input::placeholder {
  color: #fff;
  opacity: 0.3;
  font-weight: 100;
}
#booking input:focus {
  outline: none;
}
#booking button {
  margin: 2rem;
  width: 80vw;
}
.btn {
  background: #01a89e;
  border: 0;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 600;
  padding: 1rem 2rem;
  cursor: pointer;
}

/* DISCOVER OUR HOTEL */
#presentation {
  padding: 1rem;
}
.white-bg.title {
  color: #3b444d;
}
.presentation-section {
  align-items: center;
  margin: 1rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #01a89e;
}
.details {
  text-align: center;
  font-weight: 100;
  opacity: 99%;
  color: #3b444d;
  margin-bottom: 1rem;
}
.presentation-img {
  width: 80vw;
  height: 40dvh;
}
.presentation-text {
  padding: 1rem;
  font-size: 16px;
  text-align: center;
  color: #01a89e;
}
/* ROOMS */

.room {
  width: 90vw;
  padding: 0.1rem;
  margin: 1rem;
  background: #e8ecef;
  border: 0;
  padding-bottom: 1rem;
}

.room-img {
  width: 102%;
  height: 50dvh;
  margin: -2px;
  border: 0;
}
.room .title {
  color: #3b444d;
  font-weight: 700;
}
.room .sub-title {
  color: #01a89e;
  font-style: italic;
}
.room .details {
  text-align: justify;
  padding: 1rem 0.1rem;
}
.room .more {
  margin: 1rem;
  color: #01a89e;
  font-weight: 700;
}
.room .btn {
  margin: 1rem;
  margin-left: 6rem;
}
/* RESTAURANT */

.food-details,
.menu-details {
  display: flex;
}
.menu-details {
  margin-left: 0.4rem;
  margin-bottom: 1rem;
  background: #e8ecef;
  padding: 0.1rem;
}
.menu-details img {
  width: 10rem;
  height: 9rem;
  border-radius: 0.4rem;
}
.food-details {
  flex-direction: column;
  padding: 0 1rem;
}
.food-details .food-title {
  font-size: 17px;
}
.food-details .food-description {
  margin-top: 1rem;
  font-size: 15px;
  text-align: justify;
}
.food-galerie {
  width: 100vw;
  padding: 1rem;
}
.food-galerie img {
  width: 100%;
  height: 40dvh;
  margin-bottom: 1rem;
}

/* POOL */
#swimming-facilities {
  height: fit-content;
  background-image: url("assets/images/swimming/swim-banner-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: fit-content;
}
.pool {
  height: 50dvh;
  width: 100%;
  padding: 2px;
  padding-top: 4rem;
}
.pool .title {
  color: #01a89e;
}
.pool .details {
  font-size: 24px;
  color: #3b444d;
}
.pool-images {
  width: 100vw;
  margin: 0;

  border-radius: 3px;
}
.pool-details {
  width: 100%;
  margin-bottom: 1rem;
}
.pool-details img {
  width: 100%;
  border-radius: 3px;
}
.pricing-plan {
  background: #fff;
  padding-bottom: 1rem;
}
.pricing {
  height: 60dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 1rem;
  background: #eff0f1;
  border-radius: 5px;
}
.pricing h2 {
  width: 70%;
  text-align: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #fff;
}
.pricing h2:first-child {
  color: #3b444d;
}
.pricing h2:nth-child(2) {
  color: #01a89e;
}
.pricing ul li {
  list-style-type: circle;
  margin: 1rem;
  color: #3b444d;
}
.plan-one h2:nth-child(2) {
  color: #4facf9;
}

.plan-one .btn {
  background: #4facf9;
}
.plan-two h2:nth-child(2) {
  color: #8f51cc;
}
.plan-two .btn {
  background: #8f51cc;
}
/* FOOTER */
#footer {
  height: fit-content;
  background: #3b444d;
  margin-top: -17px;
}
#footer .logo {
  padding: 1.5rem;
  font-size: 50px;
  color: #01a89e;
}
#footer .title {
  margin: 0;
  text-align: left;
}
#footer .details {
  color: #fff;
  text-align: justify;
  padding: 1rem;
  opacity: 0.4;
  margin: 0;
}
#footer .socials {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}
#footer .socials img {
  width: 1.5rem;
  background: #fff;
  padding: 0.2rem;
  border-radius: 1rem;
  cursor: pointer;
}

/* contacts */
.contacts {
  padding-bottom: 1rem;
  margin-top: 1rem;
}
.contact {
  background: transparent;
  color: #fff;
}
.contact p {
  opacity: 0.6;
}
.contact img {
  width: 4rem;
  height: 4rem;
}
.contact .contact-details {
  justify-content: space-around;
}

.copy-right {
  color: #fff;
  font-size: 0.7rem;
  text-align: center;
  opacity: 0.6;
}
/* MEDIA QUERIES */

@media screen and (min-device-width: 390px) {
  /* GLOBAL SELECTION */
  .title {
    font-size: 30px;
  }
  .details {
    font-size: 20px;
  }
  /* HERO SECTION */
  .banner button {
    width: 13rem;
    font-size: 20px;
  }
  .banner #header {
    font-size: 70px;
  }
  /* FOODS */
  .food-details .food-description {
    font-size: 18px;
  }
  /* PRICING */
  .pool-details .details {
    font-size: 24px;
  }

  .pricing-plan .details {
    font-size: 20px;
  }
  .pricing ul li {
    font-size: 20px;
  }
  .pricing h2 {
    font-size: 29px;
  }

  /* PRESENTATION */
  .presentation-text {
    font-size: 20px;
  }
  #presentation .details {
    font-size: 22px;
  }
  /* ROOMS */
  .room .details,
  .room .sub-title,
  .room .more,
  .room .btn {
    font-size: 20px;
  }
}
